
.menuBody {
	background-color: rgb(8, 0, 36);
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.profileContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 3.75rem;
	gap: 5%;
	margin-bottom: 5.625rem;
}

.profileContainerImage {
	width: 25%;
	border-radius: 0.5rem;
}

.profileContainerText {
	line-height: 10%;

	h3 {
		color: #E5E5E5E7
	}

	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.625rem;
	}

}


.iconsContainer {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.875rem;
	border-top: 0.0625rem solid #808080;

	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.625rem;
	}
}

.iconsDivText {
	color: #808080;
	opacity: 0.5;
}

.iconsDivText:hover {
	color: #E5E5E5E7;
	opacity: 0.9;
}
