
.container {
	width: 100%;
	padding-top: 3%;

	h1 {
		color: #E5E5E7;
		font-size: 1.25rem;
	}
}


.slidesContainer {
	width: auto;
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	overflow-x: scroll;
	gap: 8.125rem;
}

.slide {
	width: 100%;

	img {
		width: 150%;
		height: 70%;
		border-radius: 0.5rem;
	}

	img:hover {
		filter: brightness(0.8);
		transform: scale(1.1);
	}

	div {
		width: 150%;
		line-height: 60%;

		p:first-child {
			font-size: 1.25rem;
			font-weight: bold;
			color: #E5E5E7;
		}

		p:last-child {
			font-size: 0.875rem;
			color: #808080;
			opacity: 0.9;
		}

	}
}
